In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [5]:
df = pd.read_csv("/content/drive/MyDrive/ML_Lab/findData.csv")
df

      Time Weather Temperature Company Humidity    Wind Goes
0  Morning   Sunny        Warm     Yes     Mild  Strong  Yes
1  Evening   Rainy        Cold      No     Mild  Normal   No
2  Morning   Sunny    Moderate     Yes   Normal  Normal  Yes
3  Evening   Sunny        Cold     Yes     High  Strong  Yes

In [6]:
param = np.array(df)[:,:-1]
print("The data parameters are : ",param)

The data parameters are :  [['Morning' 'Sunny' 'Warm' 'Yes' 'Mild' 'Strong']
 ['Evening' 'Rainy' 'Cold' 'No' 'Mild' 'Normal']
 ['Morning' 'Sunny' 'Moderate' 'Yes' 'Normal' 'Normal']
 ['Evening' 'Sunny' 'Cold' 'Yes' 'High' 'Strong']]

In [7]:
target = np.array(df)[:,-1]
print("The target is : ",target)

The target is :  ['Yes' 'No' 'Yes' 'Yes']

In [10]:
def findS(c,t):
    for i,val in enumerate(t):
        if val == "Yes":
            specificHypothesis = c[i].copy()
            break
    
    for i,val in enumerate(c):
        if t[i] == "Yes":
            for x in range(len(specificHypothesis)):
                if val[x] != specificHypothesis[x]:
                    specificHypothesis[x] = '?'
                else:
                    pass
    return specificHypothesis

finalHypothesis = findS(param,target)

print("The final hypothesis is : ")
print(finalHypothesis)

The final hypothesis is :
['?' 'Sunny' '?' 'Yes' '?' '?']